<!DOCTYPE html>
<html>
<head>
	<title>Battle field example</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<style>

		body {
			margin: 0;
			background-color: #aaa;
		}

		.battle-field {
			border: 1px solid rgba(0, 0, 0, 0.8);
			width: 100vmin;
			height: 100vmin;
			margin: 0 auto 0;
			opacity: 0;
			transform: translate(400px, -300px) scale(0.5, 0.1);
		}

		.battle-field.is-open {
			opacity: 1;
			transform: translate(0, 0) scale(1, 1);
			transition: all .5s ease;
		}

		.battle-field__cell {
			margin: 0;
			float: left;
			position: relative;
			box-sizing: border-box;
			border-color: rgba(0, 0, 0, 0.8);
			border-style: solid;
			border-width: 0 1px 1px 0;
			width: 5vmin;
			height: 5vmin;
			box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(255, 255, 255, 1);
		}

		.battle-field__cell:nth-child(20n) {
			border-right-width: 0;
		}

		.battle-field.is-shaked .battle-field__cell {
			-webkit-animation: shake 1s 1;
		}

		.battle-field__wall {
			position: relative;
			height: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
		}

		.battle-field__wall-item {
			float: left;
			width: 33.3333%;
			height: 33.3333%;
			box-sizing: border-box;
			border: solid #771403;
			border-width: 0 1px 1px 0;
			background-color: #803104;
			box-shadow: inset 0 0 10px #913704, inset 0 0 2px rgba(255, 255, 255, 0.5);
		}

		/*.battle-field__wall-item:nth-child(3n) {
			border-right-width: 0;
		}*/

		.battle-field__wall-item:nth-child(4),
		.battle-field__wall-item:nth-child(5),
		.battle-field__wall-item:nth-child(6) {
			border-top-width: 0;
		}

		.battle-field__tank {
			background-image: url("tank.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50%;
			width: 100%;
			height: 100%;
			transition: all .2s linear;
		}


		@-webkit-keyframes shake {
			30% {
				background-color: #a63829;
				border-radius: 10px;
				transform: rotate(10deg);
			}

			50% {
				transform: rotate(-10deg);
			}

			65% {
				transform: rotate(10deg);
			}

			80% {
				transform: rotate(-10deg);
			}

			100% {
				background-color: inherit;
				border-radius: 0;
				transform: rotate(0);
			}
		}

	</style>
	<script>
		function setClass() {
			document.getElementsByClassName('battle-field')[0].className += ' is-open';
			setTimeout(function () {
				document.getElementsByClassName('battle-field')[0].className += ' is-shaked';
			}, 3000);
		}

		function goRight($tank) {
			var $fieldCell = $tank.parent();
			$tank.css({
				transform: 'translateX(' + $fieldCell.outerWidth() + 'px)'
			});

			$tank.one('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
					function() {
						$fieldCell.next().append($tank);
						$tank.css({
							transform: 'translateX(0)'
						});
					});

		}

		$(function () {
			var $tank = $('.battle-field__tank');
			setInterval(goRight.bind(window, $tank), 200);
		});
	</script>
</head>
<body onload="setClass()">
	<div class="battle-field">
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell">

			<div class="battle-field__wall">
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
			</div>


		</div>
		<div class="battle-field__cell">

			<div class="battle-field__wall">
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
			</div>

		</div>
		<div class="battle-field__cell">

			<div class="battle-field__wall">
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
			</div>


		</div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell">
			<div class="battle-field__wall">
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
				<div class="battle-field__wall-item"></div>
			</div>
		</div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell">
			<div class="battle-field__tank"></div>
		</div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
		<div class="battle-field__cell"></div>
	</div>

</body>
</html>