<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Cap table</title>
  <link rel="stylesheet" href="cup-table.css"/>
</head>
<body>
  <div class="container">
    <!--  winner -->
    <div class="row">
      <div class="player">Winner!</div>
    </div>

    <!-- final -->
    <div class="row">
      <div class="match">
        <div class="row">
          <div class="line">&nbsp;</div>
        </div>
        <div class="row">
          <div class="brace">&nbsp;</div>
        </div>
        <div class="row">
          <div class="half">
            <div class="player">Player 1</div>
          </div>

          <div class="half">
            <div class="player">Player 2</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 1/2 -->
    <div class="row">
        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-- 1/4 -->
    <div class="row">
      <div class="half">

        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="half">

        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

        <div class="half">
          <div class="match">
            <div class="row">
              <div class="line">&nbsp;</div>
            </div>
            <div class="row">
              <div class="brace">&nbsp;</div>
            </div>
            <div class="row">
              <div class="half">
                <div class="player">Player 1</div>
              </div>

              <div class="half">
                <div class="player">Player 2</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</body>
</html>